table, th, td {
	border: 1px solid black;
}

table td {
	width: 200px;
	text-align: center;
}

table tr.behind {
	animation-duration: 200ms;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

@keyframes blink {
   from {
	  background-color: #ffc0c0;
   }
   to {
	  background-color: none;
   }
 }